body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff7f2;
    color: #333;
}

/* Header */
header {
    background: #ff725e;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
}

.logo {
    margin: 0;
}

nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 70px 20px;
    background: url("https://images.unsplash.com/photo-1551218808-94e220e084d2") center/cover no-repeat;
    color: white;
}

.hero h2 {
    font-size: 40px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 22px;
    background: #ff725e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Why Choose Us */
.why {
    padding: 30px;
    text-align: center;
}

/* Menu Page */
.menu-section {
    padding: 40px;
    text-align: center;
}

.menu-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    background: white;
    padding: 15px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ddd;
}

.item img {
    width: 100%;
    border-radius: 8px;
}

/* Order */
.order-section {
    padding: 40px;
    text-align: center;
}

form input {
    width: 60%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #aaa;
}
